.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  width: 1020px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.cart-container {
  background: rgba(255, 153, 0, 0.3);
}
