.form-container {
  width: 500px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  box-shadow: -12px 12px #ffe0b3;
}

.form-container p {
  text-align: center;
  margin-top: 10px;
}

.form-title {
  font-weight: 400;
  font-size: 35px;
  color: #2a414f;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-left: 5px;
}

.input-group input {
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 24px;
}

.form-submit input {
  background: rgba(255, 153, 0, 0.3);
  width: 415px;
  height: 55px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin-top: 24px;
  cursor: pointer;
}

.form-submit input:hover {
  background: rgba(255, 153, 0, 0.5);
}

.form-link {
  color: #ff9900;
  text-decoration: none;
}

.or-line {
  width: 354px;
  height: 20px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.or-line hr {
  width: 145px;
  border: 1px solid rgba(149, 160, 167, 1);
}

.or-line span {
  color: #95a0a7;
  font-weight: 400;
  font-size: 17px;
  margin: 0 25px;
}

.continue-google {
  width: 415px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid rgba(149, 160, 167, 1);
  border-radius: 5px;
  margin-bottom: 45px;
  color: #2a414f;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}
